<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="/use_sim_time" value="true" />

    <arg name = "bag_filename" default = "/home/sundong/bit_ivrc/Radar-Camera-Fusion/Dataset/61.bag"/>
    <arg name = "play_rosbag" default = "1"/>
    <arg name = "test" default = "1"/>


    <group if="$(arg test)">
        <node name="radar_camera_calibration" pkg="radar_camera_calibration" type="radar_camera_calibration" output="screen">
        </node>
    </group>
</launch>
